<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.v.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity android:name="com.ww.appmodule.activity.WebLinkActivity"/>
    </application>
</manifest>
